<?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="#{Time.now.strftime('%Y-%m-%d %H:%M')}">
<shop>
<name>painty.ru</name>
<company>Painty</company>

<categories>
- @categories.each do |category|
  <category id="#{category.id}">#{category.name}</category>
</categories>

<offers>
- @cert_types.each do |ct|
  <offer id="ct#{ct.id}" productId="ct#{ct.id}" quantity="1000">
  <categoryId>#{ct.category.id}</categoryId>
  <productName>#{ct.name}</productName>
  <name>#{ct.name}</name>
  <price>#{ct.price}</price>
  <purchasePrice>#{ct.price}</purchasePrice>
  <picture>#{ct.img.url}</picture>
  </offer>
- @events.each do |event|
  <offer id="#{event.id}" productId="#{event.id}" quantity="#{event.remain}">
  <categoryId>#{event.category.id}</categoryId>
  <productName>#{event.title}</productName>
  <name>#{event.title}</name>
  <price>#{event.price}</price>
  <purchasePrice>#{event.cost_price}</purchasePrice>
  <picture>#{event.image.url}</picture>
  <param code="startdate" name="Дата начала вечеринки">#{event.start_date.strftime('%Y-%m-%d %H:%M')}</param>
  <param code="enddate" name="Дата окончания вечеринки">#{event.end_date.strftime('%Y-%m-%d %H:%M')}</param>
  <param name="Описание" code="descr">#{event.descr.gsub('&', 'and')}</param>
  <param name="Адрес" code="address">#{event.address.address if event.address}</param>
  <param name="Администратор" code="admin">#{event.admin_users.pluck(:email).join(", ")}</param>
  </offer>
</offers>
</shop>
</yml_catalog>