.column {
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  columns: 200px 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}

.img_block {
  display: inline-block;
  width: 200px;
  margin-right: 30px;
  vertical-align: top;
}

.order_block {
  display: inline-block;
  vertical-align: top;
  width: 565px;
}

#black_fog {
  display: none;
  position: fixed;
  top: -100px;
  left: -100px;
  width: 5000px;
  height: 5000px;
  background-color: black;
  opacity: 0.5;
  z-index: 999;
}

.close {
  display: inline;
  right: 6px;
  top: 3px;
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}
#show_event {
  font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
  color: #454545;
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -400px;  
  display: none;
  width: 800px;
  padding: 30px;
  background-color: white;
  z-index: 1000;
}

#show_event h1 {
  font-size: 30px;
  margin-top: 0;
  font-weight: normal;
}
#show_event p {
  margin-top: 0;
  margin-bottom: 5px;
}

.ivt_prw { width: 200px}
.ivt_descr { margin-top: 20px}

#order_item_quant { height: 40px; width: 70px; font-size: 17px; margin-left: 10px; margin-right: 10px;}

table#client { margin-top: 10px;}
table#client th { text-align: left; padding-right: 20px;}

table#order {margin-top: 10px;}
table#order td, table#order th {padding: 0 20px 0 0}

#promocode {
  float: right;
  position: relative;
  top: -35px;
}

#promo {
    color: #454545;
    font: 0.8125rem "PT Sans",Arial,Helvetica,sans-serif;
    height: 26px;
    padding: 0 28px 0 9px;
    text-align: left;
    text-transform: uppercase;
    width: 90px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.button_promo {
    color: #454545;
    font: 1.0625rem/28px "PT Sans",Arial,Helvetica,sans-serif;
    height: 28px;
    padding: 0 9px;
    text-shadow: 0 1px 0 #fff;
    text-transform: lowercase;
    background: #d6d6d6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 1px #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.button_buy {
    background: #f77100 none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.44);
    position: relative;
    text-shadow: 0 -1px 0 #7e4d00;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 1px #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 22px/37px "PT Sans Bold",Arial,Helvetica,sans-serif;
    height: 37px;
    padding: 0 16px;
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;

}

button {
  background: #8c2 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #f9f9f9;
  font: bold 22px/41px "PT Sans",Trebuchet,Helvetica,Arial,sans-serif;
  padding: 0 13px;
  text-align: center;
  text-shadow: 0 -1px 1px #4a6b00;
  text-transform: lowercase;
  cursor: pointer;
}
button:hover {
background-color:#a3f529!important;
}
 .main_div p{
text-align:left;

padding:0!important;
margin:0!important;
}
 .main_div span{
font-family: Arial;
  line-height: 1.45;
font-size:14px;
text-align:left;
}
.block {
width:20%; 
}
.with_img {
 width:40%;
float:left;
padding-left:10%;
}
@media screen and (min-width:728px) {
.with_img {
padding-left:10%;
}
}

.cleaner_section {
clear:both;
margin-bottom:30px;
}
.myp img {
text-decoration:none;float:left; 
padding: 0 20px 10px 0;

}
 .main_div span.blackcol {
font-size: 15px;
  color: #555555;
}
 .main_div span.pricecol {
font-size: 18px;
  color: green;
}
 .main_div span.graycol {
  color: #555555;
  }
 .main_div span .purplecol {
  color: #555555;
  }
  .small {
  font-size:10px;
  }
  .orangecol {
  font-size: 18px !important;
  color: rgb(221, 0, 90);
  }

@media screen and (max-width: 500px) {
.myp a {
padding: 0 20px 10px 0!important;

}
}

@media screen and (min-width: 500px) {
.block
{
display: inline-block;
}
}

@media screen and (min-width: 500px) and (max-width:728px) {
.with_btn
{
width:20%;
}
}
@media screen and (min-width:728px) {
.with_btn
{
padding-right:15%;
margin-top: 30px;
}
}
@media screen and (min-width: 500px) and (max-width:728px) {
.txt
{
width:30%;
}
}
@media screen and (max-width: 500px) {
.block, .with_img
{
clear:both;
padding: 0 !important;
width:100%;
}
}

#bootstrap-iso .party-borderless-table {
  width: auto
}

	#bootstrap-iso {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
	}
  
  #bootstrap-iso .cover img, #bootstrap-iso .cover {
    width: 240px
  }
  
  #bootstrap-iso .cover.cover--key img {
     width: 360px
  }
	/*#cityPickerLabel {
		border-bottom: 1px dashed;
    	border-radius: 0px;
    	color: rgba(236, 30, 103) !important;    	
	}*/
	.dropdown > .dropdown-menu {
		padding: 0 !important;
	}

	.dropdown a {
		color: #0c4f72 !important;
		border-bottom: 1px dashed;
    	border-radius: 0px;
    	border-color: rgba(12, 79, 114, 0.2) !important; 	
	}

	.dropdown a:hover {
		color: #bb3300 !important;
    	border-color: rgba(187, 51, 0, 0.2) !important;
	}

	.dropdown .caret {
	    border-left: 8px solid transparent;
	    border-right: 8px solid transparent;
	    border-top: 8px solid rgb(236, 30, 103);
	}

	.dropdown-menu a {
		font-size: 15px;
		/*font-weight: !important;*/
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		color: gray !important;
	}

	.dropdown-menu {
		cursor: pointer;
	}

	.no-u {
		border-width: 0 !important;
	}

	/* Fixes a bug, that overlays dropdown menu on mobile phones */
	#rec4628322 {
		overflow: visible !important;
	}
	#allrecords {
		overflow-x: hidden;
	}
/*
#bootstrap-iso .age-restriction-wrapper {
    position: relative;
}

#bootstrap-iso .age-restriction {
    position: absolute;
    right: 0;
    top: 0;
}

#bootstrap-iso .age-restriction__img {
    height: 30px;
    width: 30px;
}
*/