.step-content
  - if @cart.certificate
    .ticket-for-party
      .row
        .col-xs-4.col-sm-4.col-md-4.col-lg-3
          = image_tag @img_url + @cart.certificate.cert_type.img.url(:w200)
        .col-xs-8.col-sm-8.col-md-8.col-lg-9 style=("padding-left: 0;") 
          .row
            .col-lg-6
              p
                b 
                  ' #{@cart.certificate.cert_type.name}
              p.secondary-info.hidden-lg = hum_quant(@cart.certificate.quant)
              p.secondary-info.hidden-lg = price_format(@cart.certificate.cost)
              /p.secondary-info.hidden-lg 
                | Вы экономите #{price_format()}
            .ticket-for-party__price-details.col-lg-6.visible-lg-inline
              b = price_format(@cart.certificate.cost)
              span.secondary-info.hidden-xs
                span.secondary-info__br-substitution #{price_format(@cart.certificate.cert_type.price)} x #{hum_quant(@cart.certificate.quant)}
                /span.secondary-info__br-substitution Вы экономите #{price_format(ci.discount_rub)}
  - @cart_items.each do |ci|
    .ticket-for-party
      .row
        .col-xs-4.col-sm-4.col-md-4.col-lg-3
          = image_tag @img_url + ci.event.image.url(:w200)
        .col-xs-8.col-sm-8.col-md-8.col-lg-9 style=("padding-left: 0;") 
          .row
            .col-lg-6
              p
                b 
                  ' #{ci.event.title}
                  ' , #{ci.event.short_date}
              p.secondary-info.hidden-lg = ci.hum_quant
              p.secondary-info.hidden-lg = price_format(ci.discount_cost)
              p.secondary-info.hidden-lg 
                | Вы экономите #{price_format(ci.discount_rub)}
            .ticket-for-party__price-details.col-lg-6.visible-lg-inline
              b = price_format(ci.discount_cost)
              span.secondary-info.hidden-xs
                span.secondary-info__br-substitution #{price_format(ci.event.price)} x #{ci.hum_quant}
                span.secondary-info__br-substitution Вы экономите #{price_format(ci.discount_rub)}

.total-price-discount
  .row.hidden-xs.hidden-sm
    .col-md-6
      span
        a.link--dashed.small-font.capslock-font.js-promocode href="#" 
          | ПРОМОКОД&nbsp;
          span.js-promocode-text = @cart.promocode.name if @cart.promocode
      .js-promocode-field.input-group style=("width: 250px; padding-top: 0.5em; display: none") 
        input.form-control.js-promocode-input.js-promocode-input-lg placeholder="" type="text" /
        span.input-group-btn
          button.btn.btn-default.js-set-promocode type="button"  Применить
    .total-price.text-align-right.col-md-6
      p
        b Итого #{hum_quant(@cart.total_quant)}: #{price_format @cart.total_cost}
      p.secondary-info Вы экономите: #{price_format(@cart.total_discount_rub)}
  .row.hidden-md.hidden-lg
    .total-price.col-md-6
      p
        b Итого #{hum_quant(@cart.total_quant)}: #{price_format @cart.total_cost}
      p.secondary-info Вы экономите: #{price_format(@cart.total_discount_rub)}
    .col-xs-12
      span
        a.link--dashed.small-font.capslock-font.js-promocode href="#" 
          | 333 ПРОМОКОД&nbsp;
          span.js-promocode-text = @cart.promocode.name if @cart.promocode
      .js-promocode-field.input-group style=("width: 250px; padding-top: 0.5em; display: none") 
        input.form-control.js-promocode-input.js-promocode-input-sm placeholder="" type="text" /
        span.input-group-btn
          button.btn.btn-default.js-set-promocode type="button"  Использовать

.steps-wrapper__button-wrapper
  a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab" class="btn btn-painty--primary" Всё верно, далее →
