.row.no-padding.cert(class="#{'hidden' if !@cart || !@cart.certificate }")
  .col-xs-12.no-padding
    label.tickets-counter
      a.tickets-counter__dec –
      span.tickets-counter__val = hum_quant(@cart && @cart.certificate && @cart.certificate.quant.to_i > 0 ? @cart.certificate.quant : 1)
      a.tickets-counter__inc +
  .col-xs-12.no-padding
    .helper.helper--cart-status 
      ' Вы выбрали 
      span.quant  
        = hum_quant(@cart && @cart.certificate && @cart.certificate.quant.to_i > 0 ? @cart.certificate.quant : 1)
      ' на сумму 
      span.price 
        = price_format(@cart && @cart.certificate ? @cart.certificate.cost : 0)
      /' со скидкой 
      /span.discount 
      /= event.cart_discount_perc(cart)
      ' . Выберите ещё места на других вечеринках или 
      a.js-open-cart href="#"
        | перейдите к оформлению →