.step-header
  div
    b Представьтесь 
  .text-gray Шаг 2 из 4
form#contacts_form
  .step-content
    .contacts-wrapper
      .form-group
        label.col-sm-2.control-label for="input_name"  Имя
        .col-sm-5
          input#input_name.form-control placeholder="" type="text" required="required"
      .form-group
        label.col-sm-2.control-label for="input_last_name"  Фамилия
        .col-sm-5
          input#input_last_name.form-control placeholder="" type="text" required="required"
        span#helpBlock.col-sm-5.help-block
          span Спросим на входе
      .form-group
        label.col-sm-2.control-label for="input_phone"  Телефон
        .col-sm-5
          input#input_phone.form-control placeholder="+7-" type="phone" required="required"
        span#helpBlock.col-sm-5.help-block
          span Отправим код подтверждения
      .form-group
        label.col-sm-2.control-label for="input_email"  Эл. почта
        .col-sm-5
          input#input_email.form-control placeholder="" type="email" required="required"
        span#helpBlock.col-sm-5.help-block
          span Отправим информацию о брони
  .clearfix
  .steps-wrapper__button-wrapper
    a.link--dashed.js-open-tickets-tab aria-controls="tickets" data-toggle="tab" href="#tickets" role="tab" ← Назад
    | &nbsp;&nbsp;&nbsp;
    button.btn.btn-painty--primary id="to_payment" type="submit"  Перейти к оплате →
    button.btn.btn-painty--primary.hidden aria-controls="payment" data-toggle="tab" href="#payment" role="tab" id="to_payment2" type="submit"  Перейти к оплате →

