.col-md-offset-1.col-md-3.hidden-xs.hidden-sm
  .no-padding
    .feature
      .feature__cover
        img src="http://images.tildacdn.info/233a9ea7-0e23-40c9-87b5-81d79c2ba6ae/grouptickets.png" /
      .feature__info
        | Забронируйте места сразу на всех друзей и получите скидку: от 3 участников &mdash; скидка 10%, а от 5 участников &mdash; 15%
    #cert-block.feature(data-cert-id="#{@cert.id}")
      .feature__cover
        = image_tag @img_url + @cert.img.url(:w200)
      .feature__info
        | Подарочный сертификат на посещение любой вечеринки
      == render partial: 'cert_info', locals: {cert: @cert, cart: @cart}  
      .feature__button-wrapper.participate(class="#{'hidden' if @cart && @cart.certificate}")
        a.btn.btn-painty--primary.btn-painty--big.js-add-cert href="#"  Подарить
