= csrf_meta_tags

.row
  .party-wrapper.party-wrapper--key.col-xs-12.hidden-xs.hidden-sm(data-event-id="#{@first_evt.id}" data-event-price="#{@first_evt.price}" data-event-discount="#{@first_evt.discount}")
    table.party-borderless-table
      tr
        th
          table.party-borderless-table
            tr
              th.left-shadow.left-shadow--key
                img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"
              th.cover.cover--key
                = image_tag @img_url + @first_evt.image.url(:w200)
              th.right-shadow.right-shadow--key
                img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"
        th style='width: 100%; padding-left: 14px;'
          .sticker = @first_evt.full_date
          .title.title--key
            span.title__title-first 
              ' #{@first_evt.title}
            span.title__title-second 
              ' #{@first_evt.address.additional_name if @first_evt.address}

          .rest-map-links-wrapper
            span.restaurant
              = link_to 'Сайт ресторана', @first_evt.address.url, class: "link--gray", target: "_blank"
            span.map
              = link_to 'Показать на карте', @first_evt.address.maps, class: "link--gray", target: "_blank"

          == render partial: 'tickets_info', locals: {event: @first_evt, cart: @cart}

          .button-helper-wrapper.participate(class="#{'hidden' if @first_evt.in_cart?(@cart)}")
            a href="#" class="btn btn-painty--primary btn-painty--big js-add-tickets"
              | Участвовать
            span.helper.hidden-md
              | Ведёт #{@first_evt.painter.name}
              = image_tag @img_url + @first_evt.painter.img.url(:w32)
            span.helper.hidden-lg
              | Ведёт #{@first_evt.painter.name}
              = image_tag @img_url + @first_evt.painter.img.url(:w32)
            span.helper.helper--warning.hidden 
              | Осталось #{@first_evt.remain} мест


  .party-wrapper.party-wrapper--mobile.col-xs-12.hidden-md.hidden-lg(data-event-id="#{@first_evt.id}" data-event-price="#{@first_evt.price}" data-event-discount="#{@first_evt.discount}")
    .col-xs-12.no-padding
      table.party-borderless-table.party-borderless-table--mobile
        tr
          th.left-shadow
            img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"
          th.cover.cover--mobile
            = image_tag @img_url + @first_evt.image.url(:w200)
          th.right-shadow
            img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"

      .col-xs-12.party-info-wrapper
        .sticker.sticker--mobile = @first_evt.full_date
        .title
          span.title__title-first 
              ' #{@first_evt.title}
          span.title__title-second 
            ' #{@first_evt.address.additional_name if @first_evt.address}
        .rest-map-links-wrapper
          span.restaurant
            = link_to 'Сайт ресторана', @first_evt.address.url, class: "link--gray", target: "_blank"
          span.map
            = link_to 'Показать на карте', @first_evt.address.maps, class: "link--gray", target: "_blank"

        == render partial: 'tickets_info', locals: {event: @first_evt, cart: @cart}

        .participate(class="#{'hidden' if @first_evt.in_cart?(@cart)}")
          a href="#" class="btn btn-painty--primary btn-painty--big js-add-tickets"
            | Участвовать
          span.helper.helper--mobile
            | Ведёт #{@first_evt.painter.name}
            = image_tag @img_url + @first_evt.painter.img.url(:w32)



.row
  .col-md-8
    .row  
      - @events.each do |event|
        .party-wrapper.col-xs-12.hidden-xs.hidden-sm(data-event-id="#{event.id}" data-event-price="#{event.price}" data-event-discount="#{event.discount}")
          table.party-borderless-table
            tr
              th
                table.party-borderless-table
                  tr
                    th.left-shadow
                      img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"
                    th.cover
                      = image_tag @img_url + event.image.url(:w200)
                    th.right-shadow
                      img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"


              th
                .sticker = event.full_date
                .title
                  span.title__title-first 
                    ' #{event.title}
                  span.title__title-second 
                    ' #{event.address.additional_name if event.address}

                .rest-map-links-wrapper
                  span.restaurant
                    = link_to 'Сайт ресторана', event.address.url, class: "link--gray", target: "_blank"
                  span.map
                    = link_to 'Показать на карте', event.address.maps, class: "link--gray", target: "_blank"

                == render partial: 'tickets_info', locals: {event: event, cart: @cart}

                .button-helper-wrapper.participate(class="#{'hidden' if event.in_cart?(@cart)}")
                  a href="#" class="btn btn-painty--primary btn-painty--big js-add-tickets"
                    | Участвовать
                  span.helper.hidden-md
                    | Ведёт #{event.painter.name}
                    = image_tag @img_url + event.painter.img.url(:w32)
                  span.helper.hidden-lg
                    | Ведёт #{event.painter.name}
                    = image_tag @img_url + event.painter.img.url(:w32)
                  .helper.helper--warning
                    - if event.remain <= 10
                      | Осталось #{event.remain} мест




        .party-wrapper.party-wrapper--mobile.col-xs-12.hidden-md.hidden-lg(data-event-id="#{event.id}" data-event-price="#{event.price}" data-event-discount="#{event.discount}")
          .col-xs-12.no-padding
            table.party-borderless-table.party-borderless-table--mobile
              tr
                th.left-shadow
                  img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"
                th.cover.cover--mobile
                  = image_tag @img_url + event.image.url(:w200)
                th.right-shadow
                  img src="https://ucarecdn.com/a24e4d1d-b23a-43b3-b080-ddb12fed3660/pixel.png"

            .col-xs-12.party-info-wrapper
              .sticker.sticker--mobile = event.full_date
              .title
                span.title__title-first 
                    ' #{event.title}
                span.title__title-second 
                  ' #{event.address.additional_name if event.address}
              .rest-map-links-wrapper
                span.restaurant
                  = link_to 'Сайт ресторана', event.address.url, class: "link--gray", target: "_blank"
                span.map
                  = link_to 'Показать на карте', event.address.maps, class: "link--gray", target: "_blank"

              == render partial: 'tickets_info', locals: {event: event, cart: @cart}

              .participate(class="#{'hidden' if event.in_cart?(@cart)}")
                a href="#" class="btn btn-painty--primary btn-painty--big js-add-tickets"
                  | Участвовать
                span.helper.helper--mobile 
                  | Ведёт #{event.painter.name}
                  = image_tag @img_url + event.painter.img.url(:w32)

  == render 'features' if @cert

