.step-header
  div
    b Оплата картой
  .text-gray Шаг 3 из 4

.step-content
  .row
    .col-md-7
      .paymentypes__item-inner
        .paymentypes__item-content
          .card.shaker
            .card_front
              .card_front--inner
                span.card_number--label Номер карты
                span.card_number--single_field.hidden-md.hidden-lg
                  span.input
                    input name="cnumber0" type="text" placeholder="1234 5678 9012 3456" class="input__field" data-value="" maxlength="4" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="1"
											
                span.card_number.hidden-xs.hidden-sm
                  span.card_number--item
                    span.input
                      input name="cnumber0" type="text" placeholder="1234" class="input__field" data-value="" maxlength="4" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="1"
                  span.card_number--item
                    span.input
                      input name="cnumber1" type="text" placeholder="5678" class="input__field" data-value="" maxlength="4" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="2"
                  span.card_number--item
                    span.input
                      input name="cnumber2" type="text" placeholder="9012" class="input__field" data-value="" maxlength="4" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="3"
                  span.card_number--item
                    span.input
                      input name="cnumber3" type="text" placeholder="3456" class="input__field" data-value="" maxlength="4" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="4"

                span.card_valid
                  span.card_valid--inner
                    span.card_valid--label-cvc.hidden-md.hidden-lg 
                      | CVC/
                      br
                      | CVV
                    span.card_valid--cvc.hidden-md.hidden-lg
                      span.card_valid--item-cvc
                        span.input
                          input name="cvn" type="password" placeholder="" class="input__field" data-value="" maxlength="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="5"
                    span.card_valid--label 
                      | Valid
                      br
                      | thru
                    span.card_valid--date
                      span.card_valid--item
                        span.input
                          input name="expiration_month" type="text" placeholder="01" class="input__field" data-value="" maxlength="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="5"
                      span.card_valid--separator
                        | /
                      span.card_valid--item
                        span.input
                          input name="expiration_year" type="text" placeholder="14" class="input__field" data-value="" maxlength="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="6"

                span.card_owner
                  span.input
                    input name="cardholder" type="text" placeholder="IVAN IVANOV" class="input__field" data-value="" maxlength="200" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="8"
                span.card_logos
                  i.card_mastercard--icon
                  i.card_visa--icon

            .card_back.hidden-xs.hidden-sm
              i.card_magnet-line
              .card_back-inner
                span.card_cvc-label CVC/CVV
                span.card_cvc-field
                  span.input
                    input name="cvn" type="password" placeholder="" class="input__field" data-value="" maxlength="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" tabindex="7"
                span.card_cvc-note 
                  | Последние
                  br
                  | три цифры на&nbsp;обороте<br>карты</span>

    .col-md-5
      .mailto.shaker
        .details
          p Передача информации защищена сертификатом SSL от компании DigiCert. Сайт в полной мере отвечает стандартам безопасности платёжных систем Visa и MasterCard (PCI compliance). Процессинг платежей осуществляется по стандарту PCI DSS Level 1



.steps-wrapper__button-wrapper
  a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab" class="link--dashed"
    | ← Назад
    | &nbsp;&nbsp;&nbsp;
  a href="#result" type="submit" aria-controls="result" role="tab" data-toggle="tab" class="btn btn-painty--primary" id="result"
    | Оплатить
