.close ×
.img_block
  = image_tag @event.image.url(:w200), class: "ivt_prw"
.order_block
  h1 = @event.title
  p.purplecol = @event.address.address if @event.address
  p.orangecol 
    = @event.start_date
    '  -
    = @event.end_date.strftime("%H:%M")

  p.blackcol.ivt_descr = @event.descr
 
  hr
  == render 'orders/form'

  = form_tag "", id: "promocode" do
    = text_field_tag :promo, "", placeholder: "Промокод"
    = hidden_field_tag :event_id, @event.id
    = submit_tag "Применить", class: "button_promo"





