.row.no-padding.tickets(class="#{'hidden' unless event.in_cart?(cart)}")
  .col-xs-12.no-padding
    label.tickets-counter
      a.tickets-counter__dec –
      span.tickets-counter__val = hum_quant(event.cart_quant(cart))
      a.tickets-counter__inc +
  .col-xs-12.no-padding
    .helper.helper--cart-status 
      ' Вы выбрали 
      span.quant  = hum_quant(event.cart_quant(cart))
      ' на сумму 
      span.price = price_format(event.cart_cost(cart))
      ' со скидкой 
      span.discount = event.cart_discount_perc(cart)
      ' . Выберите ещё места на других вечеринках или 
      a.js-open-cart href="#"
        | перейдите к оформлению →