%td= @order_item.order.client.fie
%td
  = @order_item.quant
  &#47;
  = @order_item.activated
%td.col.col-actions
  = form_tag url_for(event_activate_path(@order_item.event)), class: "ticket_form", remote: true do 
    = hidden_field_tag :ticket, @order_item.id
    = submit_tag "+1", class: "activate" unless @order_item.used?
  = form_tag url_for(event_deactivate_path(@order_item.event)), class: "ticket_form", remote: true do 
    = hidden_field_tag :ticket, @order_item.id
    = submit_tag "- 1", class: "deactivate"