| $("#tr_#{@order_item.id}").html("#{j render 'tr'}");
| $("#tr_#{@order_item.id}").removeClass('used');
- if @order_item.used?
  | $("#tr_#{@order_item.id}").addClass('used');

| if ($("#hide_used").is(":not(:checked)"))
|   {$(".used").show('slow') }
| else 
|   { $(".used").hide('slow') }