#title_bar
  #titlebar_left
    %h2#page_title= @event.title

#active_admin_content
  %p 
    %b Спрятать использованные билеты
    = check_box_tag :hide_used
  %table(class="index_table index")
    %tr
      %th Клиент
      %th Всего билетов / использовано
      %th
    - @tickets.each do |t|
      %tr(class="#{'used' if t.used?}" id="tr_#{t.id}")
        %td= t.order.client.fie
        %td
          = t.quant
          &#47;
          = t.activated
        %td.col.col-actions
          = form_tag url_for(event_activate_path(@event)), class: "ticket_form", remote: true do 
            = hidden_field_tag :ticket, t.id
            = submit_tag "+1", class: "activate" unless t.used?
          = form_tag url_for(event_deactivate_path(@event)), class: "ticket_form", remote: true do 
            = hidden_field_tag :ticket, t.id
            = submit_tag "- 1", class: "deactivate"