= form_for @order do |f|
  .field
    = f.hidden_field :promocode_id
    = fields_for :client, @order.client do |cl|
      table#client
        tr
          th = cl.label :name, "Имя"
          td = cl.text_field :name, required: true
        tr
          th = cl.label :last_name, "Фамилия"
          td = cl.text_field :last_name
        tr
          th = cl.label :phone, "Телефон"
          td = cl.phone_field :phone
        tr
          th = cl.label :email, "E-mail"
          td = cl.email_field :email, required: true
    hr      
    = fields_for :order_item, @order_item do |oi|
      = oi.hidden_field :event_id, value: @event.id     
      = oi.hidden_field :event_discount, value: @event.discount   
      table#order
        thead
          tr
            th() Цена билета
            th() Количество
            th() Итого
        tbody
          tr
            td.pricecol 
              span#event_price = @event.price
              |  р.
            td
              button#ticket_dec(tabindex="1" type="button") &ndash;
              = oi.number_field :quant, value: 1, in: 1..100, step: 1
              button#ticket_inc(tabindex="3" type="button") +
            td
              span#event_total_price = @event.price
              |  р.

  = f.submit "Оформить заказ", class: "button_buy"


                
                
                
                



