- if @new_price
  | $("#event_price").text("#{@new_price}");
  | $("#order_promocode_id").val("#{@promo.id}");
  | val = $("#order_item_quant").val();
  | $("#event_total_price").text(#{@new_price}*cur_val);

- else
  | $("#promo").val("Ошибка");