<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- NAME: 1:2 COLUMN - BANDED -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @subject %></title>

  <style type="text/css">
    body,#bodyTable,#bodyCell{
      height:100% !important;
      margin:0;
      padding:0;
      width:100% !important;
    }
    table{
      border-collapse:collapse;
    }
    img,a img{
      border:0;
      outline:none;
      text-decoration:none;
    }
    h1,h2,h3,h4,h5,h6{
      margin:0;
      padding:0;
    }
    p{
      margin:1em 0;
      padding:0;
    }
    a{
      word-wrap:break-word;
    }
    .ReadMsgBody{
      width:100%;
    }
    .ExternalClass{
      width:100%;
    }
    .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
      line-height:100%;
    }
    table,td{
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
    }
    #outlook a{
      padding:0;
    }
    img{
      -ms-interpolation-mode:bicubic;
    }
    body,table,td,p,a,li,blockquote{
      -ms-text-size-adjust:100%;
      -webkit-text-size-adjust:100%;
    }
    #bodyCell{
      padding:0;
    }
    .mcnImage{
      vertical-align:bottom;
    }
    .mcnTextContent img{
      height:auto !important;
    }
    /*
    @tab Page
    @section background style
    @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
    */
    body,#bodyTable{
      /*@editable*/background-color:#eff1f1;
    }
    /*
    @tab Page
    @section background style
    @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
    */
    #bodyCell{
      /*@editable*/border-top:0;
    }
    /*
    @tab Page
    @section heading 1
    @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
    @style heading 1
    */
    h1{
      /*@editable*/color:#001a1e !important;
      display:block;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:28px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:normal;
      /*@editable*/line-height:150%;
      /*@editable*/letter-spacing:normal;
      margin:0;
      /*@editable*/text-align:left;
    }
    /*
    @tab Page
    @section heading 2
    @tip Set the styling for all second-level headings in your emails.
    @style heading 2
    */
    h2{
      /*@editable*/color:#001a1e !important;
      display:block;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:22px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:normal;
      /*@editable*/line-height:150%;
      /*@editable*/letter-spacing:normal;
      margin:0;
      /*@editable*/text-align:left;
    }
    /*
    @tab Page
    @section heading 3
    @tip Set the styling for all third-level headings in your emails.
    @style heading 3
    */
    h3{
      /*@editable*/color:#001a1e !important;
      display:block;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:18px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:normal;
      /*@editable*/line-height:150%;
      /*@editable*/letter-spacing:normal;
      margin:0;
      /*@editable*/text-align:left;
    }
    /*
    @tab Page
    @section heading 4
    @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
    @style heading 4
    */
    h4{
      /*@editable*/color:#001a1e !important;
      display:block;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:16px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:bold;
      /*@editable*/line-height:150%;
      /*@editable*/letter-spacing:normal;
      margin:0;
      /*@editable*/text-align:left;
    }
    /*
    @tab Preheader
    @section preheader style
    @tip Set the background color and borders for your email's preheader area.
    */
    #templatePreheader{
      /*@editable*/background-color:#FFFFFF;
      /*@editable*/border-top:0;
      /*@editable*/border-bottom:0;
    }
    /*
    @tab Preheader
    @section preheader text
    @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
    */
    .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
      /*@editable*/color:#6e7677;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:12px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
    /*
    @tab Preheader
    @section preheader link
    @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
    */
    .preheaderContainer .mcnTextContent a{
      /*@editable*/color:#00a588;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
    /*
    @tab Header
    @section header style
    @tip Set the background color and borders for your email's header area.
    */
    #templateHeader{
      /*@editable*/background-color:#FFFFFF;
      /*@editable*/border-top:0;
      /*@editable*/border-bottom:0;
    }
    /*
    @tab Header
    @section header text
    @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
    */
    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
      /*@editable*/color:#6e7677;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:16px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
    /*
    @tab Header
    @section header link
    @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
    */
    .headerContainer .mcnTextContent a{
      /*@editable*/color:#00a588;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
    /*
    @tab Body
    @section body style
    @tip Set the background color and borders for your email's body area.
    */
    #templateBody{
      /*@editable*/background-color:#eff1f1;
      /*@editable*/border-top:0;
      /*@editable*/border-bottom:0;
    }
    /*
    @tab Body
    @section body text
    @tip Set the styling for your email's body text. Choose a size and color that is easy to read.
    */
    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
      /*@editable*/color:#6e7677;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:16px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
    /*
    @tab Body
    @section body link
    @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
    */
    .bodyContainer .mcnTextContent a{
      /*@editable*/color:#ec1e67;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
    /*
    @tab Columns
    @section column style
    @tip Set the background color and borders for your email's columns area.
    */
    #templateColumns{
      /*@editable*/background-color:#eff1f1;
      /*@editable*/border-top:0;
      /*@editable*/border-bottom:0;
    }
    /*
    @tab Columns
    @section left column text
    @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
    */
    .leftColumnContainer .mcnTextContent,.leftColumnContainer .mcnTextContent p{
      /*@editable*/color:#6e7677;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:15px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
    /*
    @tab Columns
    @section left column link
    @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
    */
    .leftColumnContainer .mcnTextContent a{
      /*@editable*/color:#00a588;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
    /*
    @tab Columns
    @section right column text
    @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
    */
    .rightColumnContainer .mcnTextContent,.rightColumnContainer .mcnTextContent p{
      /*@editable*/color:#6e7677;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:15px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
    /*
    @tab Columns
    @section right column link
    @tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
    */
    .rightColumnContainer .mcnTextContent a{
      /*@editable*/color:#00a588;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
    /*
    @tab Footer
    @section footer style
    @tip Set the background color and borders for your email's footer area.
    */
    #templateFooter{
      /*@editable*/background-color:#ffffff;
      /*@editable*/border-top:0;
      /*@editable*/border-bottom:0;
    }
    /*
    @tab Footer
    @section footer text
    @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
    */
    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
      /*@editable*/color:#6e7677;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:14px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
    /*
    @tab Footer
    @section footer link
    @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
    */
    .footerContainer .mcnTextContent a{
      /*@editable*/color:#ec1e67;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
    @media only screen and (max-width: 480px){
      body,table,td,p,a,li,blockquote{
        -webkit-text-size-adjust:none !important;
      }

    }	@media only screen and (max-width: 480px){
      body{
        width:100% !important;
        min-width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      table[class=mcnTextContentContainer]{
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      .mcnBoxedTextContentContainer{
        max-width:100% !important;
        min-width:100% !important;
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      table[class=mcpreview-image-uploader]{
        width:100% !important;
        display:none !important;
      }

    }	@media only screen and (max-width: 480px){
      img[class=mcnImage]{
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      table[class=mcnImageGroupContentContainer]{
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageGroupContent]{
        padding:9px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageGroupBlockInner]{
        padding-bottom:0 !important;
        padding-top:0 !important;
      }

    }	@media only screen and (max-width: 480px){
      tbody[class=mcnImageGroupBlockOuter]{
        padding-bottom:9px !important;
        padding-top:9px !important;
      }

    }	@media only screen and (max-width: 480px){
      table[class=mcnCaptionTopContent],table[class=mcnCaptionBottomContent]{
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer]{
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
        padding-right:18px !important;
        padding-left:18px !important;
        padding-bottom:0 !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageCardBottomImageContent]{
        padding-bottom:9px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageCardTopImageContent]{
        padding-top:18px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
        padding-right:18px !important;
        padding-left:18px !important;
        padding-bottom:0 !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageCardBottomImageContent]{
        padding-bottom:9px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnImageCardTopImageContent]{
        padding-top:18px !important;
      }

    }	@media only screen and (max-width: 480px){
      table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
        padding-top:9px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
        padding-top:18px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnBoxedTextContentColumn]{
        padding-left:18px !important;
        padding-right:18px !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=columnsContainer]{
        display:block !important;
        max-width:600px !important;
        width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=mcnTextContent]{
        padding-right:18px !important;
        padding-left:18px !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section template width
      @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.
      */
      table[class=templateContainer],table[id=templateColumns],table[class=templateColumn]{
        /*@tab Mobile Styles
  @section template width
  @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.*/max-width:600px !important;
        /*@editable*/width:100% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section heading 1
      @tip Make the first-level headings larger in size for better readability on small screens.
      */
      h1{
        /*@editable*/font-size:24px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section heading 2
      @tip Make the second-level headings larger in size for better readability on small screens.
      */
      h2{
        /*@editable*/font-size:20px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section heading 3
      @tip Make the third-level headings larger in size for better readability on small screens.
      */
      h3{
        /*@editable*/font-size:18px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section heading 4
      @tip Make the fourth-level headings larger in size for better readability on small screens.
      */
      h4{
        /*@editable*/font-size:16px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Boxed Text
      @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
      */
      table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent],td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Preheader Visibility
      @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
      */
      table[id=templatePreheader]{
        /*@editable*/display:block !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Preheader Text
      @tip Make the preheader text larger in size for better readability on small screens.
      */
      td[class=preheaderContainer] td[class=mcnTextContent],td[class=preheaderContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Header Text
      @tip Make the header text larger in size for better readability on small screens.
      */
      td[class=headerContainer] td[class=mcnTextContent],td[class=headerContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Body Text
      @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
      */
      td[class=bodyContainer] td[class=mcnTextContent],td[class=bodyContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Left Column Text
      @tip Make the left column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
      */
      td[class=leftColumnContainer] td[class=mcnTextContent],td[class=leftColumnContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section Right Column Text
      @tip Make the right column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
      */
      td[class=rightColumnContainer] td[class=mcnTextContent],td[class=rightColumnContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      /*
      @tab Mobile Styles
      @section footer text
      @tip Make the body content text larger in size for better readability on small screens.
      */
      td[class=footerContainer] td[class=mcnTextContent],td[class=footerContainer] td[class=mcnTextContent] p{
        /*@editable*/font-size:14px !important;
        /*@editable*/line-height:150% !important;
      }

    }	@media only screen and (max-width: 480px){
      td[class=footerContainer] a[class=utilityLink]{
        display:block !important;
      }

    }</style></head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
      <td align="center" valign="top" id="bodyCell">
        <!-- BEGIN TEMPLATE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td align="center" valign="top">
              <!-- BEGIN PREHEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                      <tr>
                        <td valign="top" class="preheaderContainer" style="padding-top:9px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                          <tbody class="mcnImageBlockOuter">
                          <tr>
                            <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                              <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                <tbody><tr>
                                  <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">

                                    <a href="https://gettidy.ru/" title="" class="" target="_blank">
                                      <img align="left" alt="GetTidy" src="https://gallery.mailchimp.com/5e40576abf3429fa52a2e2f38/images/56d2a57d-fbbb-47e7-bebd-4e4f2fa8a2b6.png" width="130" style="max-width:130px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                    </a>

                                  </td>
                                </tr>
                                </tbody></table>
                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END PREHEADER -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <!-- BEGIN HEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                      <tr>
                        <td valign="top" class="headerContainer" style="padding-top:10px; padding-bottom:10px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                          <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                              <!--[if mso]>
                              <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                <tr>
                              <![endif]-->

                              <!--[if mso]>
                              <td valign="top" width="600" style="width:600px;">
                              <![endif]-->
                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                <tbody><tr>

                                  <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 150%;">

                                    <h2 class="null"><strong><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="color:#000000"><%= @client.name %>, спасибо! Ваши места забронированы.</span></span></strong></h2>

                                    <p style="margin: 0.8em 0 0;">Осталось прийти на вечеринку и назвать имя на входе. До встречи!</p>

                                  </td>
                                </tr>
                                </tbody></table>
                              <!--[if mso]>
                              </td>
                              <![endif]-->

                              <!--[if mso]>
                              </tr>
                              </table>
                              <![endif]-->
                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END HEADER -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <!-- BEGIN BODY // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                      <tr>
                        <td valign="top" class="bodyContainer" style="padding-top:10px; padding-bottom:10px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                          <tbody class="mcnDividerBlockOuter">
                          <tr>
                            <td class="mcnDividerBlockInner" style="padding: 0px 18px 18px;">
                              <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                </tbody></table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                          <% for item in @order.order_items do %>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                          <!--[if gte mso 9]>
                          <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <![endif]-->
                          <tbody class="mcnBoxedTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnBoxedTextBlockInner">

                              <!--[if gte mso 9]>
                              <td align="center" valign="top" ">
                              <![endif]-->
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                                <tbody><tr>

                                  <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                    <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF;">
                                      <tbody><tr>
                                        <td valign="top" class="mcnTextContent">
                                          <table cellpadding="0" cellspacing="0" style="line-height: 20.7999992370605px;" width="100%">
                                            <colgroup>
                                              <col width="50%">
                                              </col><col width="50%">
                                              </col></colgroup>
                                            <tbody>
                                            <tr>
                                              <td style="vertical-align: top;"><span style="color:#001a1e"><span style="font-size:20px"><strong><%= item.event.title %></strong></span></span></td>
                                              <td style="text-align: right;"><span style="font-size:20px"><span style="color:#000000"><%= item.event.email_date %></span></span></td>
                                            </tr>
                                            </tbody>
                                          </table>
<span style="font-size:20px"><span style="color:#000000">
<style type="text/css">td {
  vertical-align: top;
}
</style>
</span></span>
                                          <div dir="ltr">&nbsp;
                                            <table cellpadding="5" cellspacing="0" width="100%">
                                              <colgroup>
                                                <col width="100px">
                                                </col><col width="100%">
                                                </col></colgroup>
                                              <tbody>
                                              <tr>
                                                <td><img src="http://painty.ru/<%= item.event.image.url(:w200) %>" width="100px"></td>
                                                <td><span style="color:#000000"><strong><%= item.event.address.name %></strong>&nbsp;на&nbsp;</span><a href="http://maps.ya.ru" target="_blank"><%= item.event.address.address %></a>.&nbsp;<span style="color:#000000"><%
                                                  names = Array.new
                                                  for user in item.event.admin_users do
                                                    names.push user.name if user.painter?
                                                  end
                                                  %>
                                                  <%= 'Вечеринку&nbsp;ведёт ' + names.join(', ') + '.' if names.any? %></span>
                                                  <hr><span style="color:#A9A9A9"><%= item.quant %> <%= Russian.p(item.quant, 'место', 'места', 'мест') %> на сумму <%= item.event.price_format item.discount_cost %>
                                                  <% if item.percent_by_quant > 0 %><br>
			Вы сэкономили <%= item.event.price_format item.discount_value %><% end %></span></td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </div>

                                        </td>
                                      </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                                </tbody></table>
                              <!--[if gte mso 9]>
                              </td>
                              <![endif]-->

                              <!--[if gte mso 9]>
                              </tr>
                              </table>
                              <![endif]-->
                            </td>
                          </tr>
                          </tbody>
                        </table>
                          <% end %>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                          <!--[if gte mso 9]>
                          <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <![endif]-->
                          <tbody class="mcnBoxedTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnBoxedTextBlockInner">

                              <!--[if gte mso 9]>
                              <td align="center" valign="top" ">
                              <![endif]-->
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                                <tbody><tr>

                                  <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                    <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF;">
                                      <tbody><tr>
                                        <td valign="top" class="mcnTextContent" style="color: #000000;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;">
                                          <h2 class="null" style="text-align: left;"><span style="font-size:18px"><strong>Итого:&nbsp;</strong><%= @order.price_format_total_cost %></span></h2>

                                        </td>
                                      </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                                </tbody></table>
                              <!--[if gte mso 9]>
                              </td>
                              <![endif]-->

                              <!--[if gte mso 9]>
                              </tr>
                              </table>
                              <![endif]-->
                            </td>
                          </tr>
                          </tbody>
                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                          <tbody class="mcnDividerBlockOuter">
                          <tr>
                            <td class="mcnDividerBlockInner" style="padding: 18px;">
                              <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 2px;border-top-style: solid;border-top-color: #D6D6D6;">
                                <tbody><tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                </tbody></table>
                            </td>
                          </tr>
                          </tbody>
                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageCardBlock">
                          <tbody class="mcnImageCardBlockOuter">
                          <tr>
                            <td class="mcnImageCardBlockInner" valign="top" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                              <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnImageCardBottomContent" width="100%" style="background-color: #FFFFFF;">
                                <tbody><tr>
                                  <td class="mcnImageCardBottomImageContent" align="center" valign="top" style="padding-top:0px; padding-right:0px; padding-bottom:0; padding-left:0px;">



                                    <img alt="" src="https://gallery.mailchimp.com/b18a98f7722fed47c20cfa71b/images/e7e17337-adb4-441d-8245-f11aedc98e46.jpg" width="564" style="max-width:2000px;" class="mcnImage">


                                  </td>
                                </tr>
                                <tr>
                                  <td class="mcnTextContent" valign="top" style="padding: 9px 18px;color: #000000;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;" width="546">
                                    <style type="text/css">.block-text {
                                      font-size: 1em !important;
                                      line-height: 1.4 !important;
                                      margin-bottom: 1em;
                                    }

                                    .line-height-2x {
                                      line-height: 2 !important;
                                    }

                                    .btn-default {
                                      padding: 10px 20px;
                                      border: 1px solid #557cbb;
                                      background-color: #557cbb;
                                      border-radius: 5px;
                                      color: #ffffff !important;
                                      text-decoration: none !important;
                                    }
                                    </style>
                                    <div class="block-text"><br>
                                      <span style="font-size:16px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Пригласите на вечеринку друзей, с&nbsp;ними вечер будет ещё ярче!</span></span></div>

                                  </td>
                                </tr>
                                </tbody></table>




                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END BODY -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <!-- BEGIN COLUMNS // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                      <tr>
                        <td align="left" valign="top" class="columnsContainer" width="50%">
                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn">
                            <tr>
                              <td valign="top" class="leftColumnContainer"></td>
                            </tr>
                          </table>
                        </td>
                        <td align="left" valign="top" class="columnsContainer" width="50%">
                          <table align="right" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn">
                            <tr>
                              <td valign="top" class="rightColumnContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                <tbody class="mcnDividerBlockOuter">
                                <tr>
                                  <td class="mcnDividerBlockInner" style="padding: 18px;">
                                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td>
                                          <span></span>
                                        </td>
                                      </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                                </tbody>
                              </table></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END COLUMNS -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <!-- BEGIN FOOTER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                      <tr>
                        <td valign="top" class="footerContainer" style="padding-top:10px; padding-bottom:10px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                          <tbody class="mcnDividerBlockOuter">
                          <tr>
                            <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 0px 18px 18px;">
                              <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
                                <tbody><tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                </tbody></table>
                              <!--
                                              <td class="mcnDividerBlockInner" style="padding: 18px;">
                                              <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                              -->
                            </td>
                          </tr>
                          </tbody>
                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                          <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                              <!--[if mso]>
                              <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                <tr>
                              <![endif]-->

                              <!--[if mso]>
                              <td valign="top" width="300" style="width:300px;">
                              <![endif]-->
                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;" width="100%" class="mcnTextContentContainer">
                                <tbody><tr>

                                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                    Яркая поддержка Painty<br>
                                    Москва <a href="tel:+74953745305">8 (495) 374-53-05</a><br>
                                    Петербург <a href="tel:+78123855330">8 (812) 385-53-30</a>
                                  </td>
                                </tr>
                                </tbody></table>
                              <!--[if mso]>
                              </td>
                              <![endif]-->

                              <!--[if mso]>
                              <td valign="top" width="300" style="width:300px;">
                              <![endif]-->
                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;" width="100%" class="mcnTextContentContainer">
                                <tbody><tr>

                                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                    Присоединяйтесь к нам<br style="line-height: 20.7999992370605px;">
                                    <a href="https://www.facebook.com/paintyparty" target="_blank">Facebook</a><span style="line-height:20.7999992370605px">, <a href="https://www.vk.com/paintyparty" target="_blank">В</a></span><a href="https://www.vk.com/paintyparty">контакте</a>, <a href="https://www.instagram.com/paintyparty" target="_blank">Instagram</a>
                                  </td>
                                </tr>
                                </tbody></table>
                              <!--[if mso]>
                              </td>
                              <![endif]-->

                              <!--[if mso]>
                              </tr>
                              </table>
                              <![endif]-->
                            </td>
                          </tr>
                          </tbody>
                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                          <tbody class="mcnDividerBlockOuter">
                          <tr>
                            <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 0px 18px 18px;">
                              <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
                                <tbody><tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                </tbody></table>
                              <!--
                                              <td class="mcnDividerBlockInner" style="padding: 18px;">
                                              <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                              -->
                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END FOOTER -->
            </td>
          </tr>
        </table>
        <!-- // END TEMPLATE -->
      </td>
    </tr>
  </table>
</center>
</body>
</html>